<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Page</title>
    <link rel="stylesheet" href="/edit.css">
</head>
<body class="editPage">
    <div class="edit_Page">
        <div class="navBarEdit">
            <button><a href="/manga">manga home</a></button>
        </div>
        <div class="underNavBarEdit">
            
            <div class="infoBoxEdit">
                <form action="/manga/<%=mangaEdit.id%>?_method=PUT" method="POST">
                    <label for="name">Manga Name:</label>
                    <input
                    type="text"
                    name="name"
                    placeholder="manga Name"
                    class="form-control"
                    value="<%=mangaEdit.name%>"
                    /><br />
                    <label for="issue">Issue Number:</label>
                    <input 
                    type="Number" 
                    name="issue"
                    placeholder="issue number"
                    class="form-control"
                    value="<%=mangaEdit.issue%>" 
                    /><br />
                    <label for="publisher">Publisher:</label>
                    <input 
                    type="text" 
                    name="publisher" 
                    placeholder="Publisher" 
                    class="form-control"
                    value="<%=mangaEdit.publisher%>" 
                    /><br />
                    
                    <label for="new">New:</label>
                    <input 
                    type="checkbox"  
                    name="new"
                    /><br />
                    <label for="condition">Rarity:</label>
                        <!-- <input list="condition" name="condition"></br>
                        <datalist id="condition">
                         -->
                        <select name="condition" id="condition">
                            <option value="normal">Common</option>
                            <option value="rare">Rare</option>
                            <option value="exotic">Exotic</option>
                            </select></br>
                            
                        <!-- </datalist> -->
                    <label for="price">Price:</label>
                        <input 
                    type="number" 
                    name="price" 
                    placeholder="mang Price"
                    class="form-control"
                    value="<%=mangaEdit.price%>" 
                    /><br />
                    <input type="submit" class="button" value="Submit Changes" />
                </form>
            </div>
        </div>
    </div>
</body>
</html>