<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url('https://i.imgur.com/vXDWqIH.jpeg');
            background-repeat: no-repeat;
            background-attachment: fixed; 
            background-size: 100%;
        }
        .editPage {
            display: flex;
            flex-direction: column;
            height: 100vh;
            flex-wrap:wrap;
        }
        .navBarEdit {
            border: black solid 4px;
            background-color: green;
        }
        .underNavBar {
            display: flex;
            flex-direction: column;
        }
        .infoBox {
            border: red solid 3px;
            background-color: aqua;
            margin-right: 100px;
            margin-left: 460px;
            margin-top: 100px;
            padding: 10px 10px 10px 10px;
        }
        .imgBox {
            border: red solid 3px;
            height: 100px;
            margin-top: -200px;
            margin-right: 460px;
            background-color: aqua;
            padding: 30px 10px 10px 10px;
        }
        
    </style>
</head>
<body>
    <div class="editPage">
        <div class="navBarEdit">
            <button><a href="/manga">manga home</a></button>
        </div>
        <div class="underNavbar">
            <div class="infoBox">
                <form action="/manga/<%=mangaEdit.id%>?_method=PUT" method="POST">
                    <a>Manga Name:</a><input
                    type="text"
                    name="manga.name"
                    placeholder="manga Name"
                    class="form-control"
                    value="<%=mangaEdit.name%>"
                    /><br />
                    <a>Issue Number:</a><input 
                    type="Number" 
                    name="manga.issue" 
                    placeholder="manga Issue" 
                    class="form-control"
                    value="<%=mangaEdit.issue%>"
                    /><br />
                    <a>Publisher:</a><input 
                    type="text" 
                    name="manga.publisher" 
                    placeholder="Publisher" 
                    class="form-control"
                    value="<%=mangaEdit.publisher%>" 
                    /><br />
                    
                    <a>New:</a><input 
                    type="checkbox"  
                    name="manga.new" 
                    value="<%=mangaEdit.new%>" 
                    /><br />
                    <a>Condition:</a><br />
                        normal:<input
                        type="checkbox"
                        name="manga.condition[0]"
                        value="<%=mangaEdit.condition[0]%>"
                        />
                        rare:<input 
                        type="checkbox" 
                        name="manga.condition[1]" 
                        value="<%=mangaEdit.condition[1]%>" 
                        />
                        super rare:<input 
                        type="checkbox" 
                        name="manga.condition[2]"
                        value="<%=mangaEdit.condition[2]%>" 
                        /><br />
                    <input 
                    type="number" 
                    name="manga.price" 
                    placeholder="mang Price"
                    class="form-control"
                    value="<%=mangaEdit.price%>" 
                    /><br />
                </form>
            </div>
            <div class="imgBox">
                    <form action="/manga/<%=mangaEdit.id%>?_method=PUT" method="POST">
                    <a>image:</a><input 
                    type="text"
                    name="manga"
                    placeholder="manga.img"
                    class="form-control"
                    value="<%=mangaEdit.image%>"
                    />
                    </form>
            </div>
            <div class="editButton">
                <form action="/manga/<%=mangaEdit.id%>?_method=PUT" method="POST">
                    <input type="submit" class="button" value="submit Changes" />
                </form>
                
            </div>
        </div>
    </div>
</body>
</html>