<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-image: url('https://i.imgur.com/vXDWqIH.jpeg');
            background-repeat: no-repeat;
            background-size: cover;
        }
        .editPage {
            display: flex;
            flex-direction: column;
            height: 100vh;
            flex-wrap:wrap;
        }
        .navBarEdit {
            border: black solid 4px;
            background-color: green;
        }
        .underNavBar {
            display: flex;
            flex-direction: row;
            gap: 240px
        }
        .infoBox {
            border: red solid 3px;
            background-color: aqua;
            padding: 10px 10px 10px 10px;
        }
        .imgBox {
            border: red solid 3px;
            height: 100px;
            gap: 2px;
            background-color: aqua;
        }
        
    </style>
</head>
<body class="editPage">
    <div >
        <div class="navBarEdit">
            <button><a href="/manga">manga home</a></button>
        </div>
        <div class="underNavBar">
            
            <div class="infoBox">
                <form action="/manga/<%=mangaEdit.id%>?_method=PUT" method="POST">
                    <label for="name">Manga Name:</label>
                    <input
                    type="text"
                    name="name"
                    placeholder="manga Name"
                    class="form-control"
                    value="<%=mangaEdit.name%>"
                    /><br />
                    <label for="issue">Issue Number:</label>
                    <input 
                    type="Number" 
                    name="issue" 
                     
                    
                    
                    /><br />
                    <label for="publisher">Publisher:</label>
                    <input 
                    type="text" 
                    name="publisher" 
                    placeholder="Publisher" 
                    class="form-control"
                    value="<%=mangaEdit.publisher%>" 
                    /><br />
                    
                    <label for="new">New:</label>
                    <input 
                    type="checkbox"  
                    name="new"
                    value=""
                    /><br />
                    <label for="condition">Rarity:</label>
                        <!-- <input list="condition" name="condition"></br>
                        <datalist id="condition">
                         -->
                        <select name="condition" id="condition">
                            <option value="normal">Common</option>
                            <option value="rare">Rare</option>
                            <option value="exotic">Exotic</option>
                            </select></br>
                            
                        <!-- </datalist> -->
                    <label for="price">Price:</label>
                        <input 
                    type="number" 
                    name="price" 
                    placeholder="mang Price"
                    class="form-control"
                    value="<%=mangaEdit.price%>" 
                    /><br />
                    <input type="submit" class="button" value="submit Changes" />
                </form>
            </div>
        </div>
        <div class="editButton">
                <form action="/manga/<%=mangaEdit.id%>?_method=PUT" method="POST">
                    
                </form>
                
        </div>
    </div>
</body>
</html>