<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Page</title>
</head>
<body>
    <div class="whole_page">
        
        <div class="item_picture">
            <img class="book_img" src="<%= manga.img %>" alt="mangaImg">
        </div>
        
        <div class="right_item_picture">
            <div class="cost">
                <h4 id="cost_card1">Cost: $<%=manga.price %></h1>
                <h4 id="cost_card2">Item Name: <%= manga.name %></h4>
                <h4 id="cost_card3">Issue Number: <%= manga.issue %></h4>
                <div id="cost_card4">
                    <div><h4>Rarity: </h4></div>
                    <div class="<%=manga.condition%>"><h3><%=manga.condition%></h3></div>
                </div>

                <div>
                    <h4>Status: 
                        <% if(manga.new === true){%>
                                New
                        <%} else{%>
                                Used
                            <%}%>
                    </h4>
                </div>
                
            </div>
            <div class="seller">
                <div class="seller_pic"><h4>Pic</h4></div>
                <div class="seller_name"><h4>John</h4></div>
                <div class="contact"><h4>123-456-7777</h4></div>
            </div>
            <div class="navBarShow"><a href="/user"><button class='buttonNavShow'>Back to Home</button></a></div>
        </div>
    </div>
</body>
</html>