<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Page</title>
    <link rel="stylesheet" href="/userPage.css">

</head>

<body class="homePage">
    <div class="homeContainer">
        <div class="homeTitle">
            <h3>Phat Bailey Inc.</h3>
            <div class="titleButtons">
                
                
                <form action="/logout" method="POST">
                    <button type="submit">Logout</button>
                </form>
            </div>
        </div>
        <div class="underHomeTitle">
            <div class = "cartBar">
                <h1>Hi <%=user.username  %></h1>
                <h1>Item's in your cart: <%= user.cart.length%></h1>
                <a href="/cart"><button>to your cart</button></a>
            </div>
            <div class="mangaContainer">
                <% manga.forEach(manga=> { %>
                    <div class = "mangaCards">
                        <img src=<%=manga.img%>>
                        <div class="middle">
                            <div class="buttonShow"><a href="/user/<%= manga.id %>/show"><%=manga.name%></a></div>
                        </div>
                        <form  action="/cart/add/<%=manga.id  %>" method="POST">
                            <button class="addToCart">Add to Cart</button>
                            <input type="hidden" name="email" value="<%= user.email %>">
                        </form>
                    </div>
                <%})%>
            </div>
        </div>
    </div>
</body>
</html>